<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="RR-Main">
  <test name="Test">
    <classes>
     <!--  
     <class name="testngpractice.ListofItems"/> 
     <class name="testngpractice.GetSize"/>
     <class name="testngpractice.LoginId"/>
     <class name="testngpractice.TitleVerification"/>
     <class name="testngpractice.PrintTitleUrl"/>
     -->
     <class name="testngpractice.MultiListBox"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- RR-Main -->
